@page {
    width: 210mm;
    height: 297mm;
    margin: 0;
}

:root {
    --dark: #333;
    --lessdark: #999;
    --light: #eee;
    --background: #fff;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    color: var(--dark);
    font-size: 17px;
    margin: 0;
}

hr {
    border: none;
    border-bottom: 3px solid var(--dark);
}

a {
    color: var(--dark);
}

header,
main section,
footer {
    padding: 2em;
    width: auto;
}

main section:nth-child(n+2) {
    background: var(--light);
}

header {
    background-color: var(--light);
    display: flex;
    justify-content: space-between;
    padding-top: 3em;
}

header div {
    padding-left: 1em;
    padding-right: 1em;
}

header div:first-child {
    padding-left: 0;
    flex-grow: 1;
}

header div:last-child {
    padding-right: 0;
}

header h1 {
    font-size: 46px;
    margin-bottom: 0.1em;
    margin-top: 0;
}

header h2 {
    font-size: 34px;
    margin-bottom: 0.1em;
    margin-top: 0;
    max-width: 480px;
}

img.profile-picture {
    width: 150px;
}

.two-col {
    display: grid;
    grid-template-columns: 50% 50%;
}

dl {
    display: grid;
    grid-template-columns: 40% 60%;
    font-style: normal;
    margin: 0 0 1em;
}

dl:last-child {
    margin: 0;
}

dt {
    text-transform: lowercase;
    font-variant: small-caps;
    padding-right: 1em;
}

nav dt {
    text-align: right;
}

dt svg {
    width: 35px;
    height: 35px;
}

dd {
    margin: 0;
    align-self: center;
}

section > h1 {
    text-transform: uppercase;
    margin-top: 0;
}

.job {
    margin: 0 0 2em;
}

.job .duration {
    color: var(--lessdark);
    font-style: italic;
}

.job .duration::before {
    content: " – ";
    color: var(--lessdark);
}

.job .position {
    margin: 0.2em 0;
    font-size: 24px;
}

.job .category {
    color: var(--lessdark);
}